* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive;
}

body {
    background: pink;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
    color: #ff4d6d;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#yesBtn {
    background: #ff4d6d;
    color: white;
}

#noBtn {
    background: #555;
    color: white;

    /* smooth movement AFTER it escapes */
    transition: left 0.7s ease, top 0.7s ease;
}

#message {
    margin-top: 20px;
    color: #ff4d6d;
    font-weight: bold;
}

video {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    object-fit: contain;
    background: linear-gradient(#000, #000);

    z-index: 999;
}
